@font-face {
  font-family: "Montserrat";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
}
.error {
  color: red;
}

.bigContainer {
  width: 95%;
  margin: auto;
  background-color: #ebac21;
  border-radius: 30px;
  height: fit-content;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  padding-bottom: 3rem;
}

.h1 {
  color: rgb(150, 121, 6);
  font-family: fantasy;
}

.containerDetail {
  display: flex;
  height: 50%;
  width: 100%;
  margin-top: 1%;
  align-items: center;
}

.containerImagen {
  height: 85%;
  width: 30%;
  margin-left: 0%;
  margin-top: 10%;
}

.imagen {
  height: 85%;
  width: 85%;
  margin-left: 5%;
  border-radius: 5%;
  object-fit: cover;
}

.containerInfo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  height: 85%;
  width: 50%;
  margin-left: 0%;
  margin-top: 3%;
}

.name {
  text-align: center;
  font-family: fantasy;
  margin-top: 1%;
  font-size: 2rem;
  letter-spacing: 1.5px;
}

.description {
  font-size: 1.1rem;
  text-align: justify;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 5%;
  margin-left: 1%;
}

.price {
  text-align: left;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 5%;
  margin-left: 1%;
  font-size: 1.5em;
  color: #020102;
}

.color {
  text-align: left;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 1%;
  margin-left: 1%;
}

.line {
  background-color: rgba(0, 0, 0, 0.1);
  /* background-color: var(--color-mask-black-2); */
  height: 2px;
  margin-top: 5%;
}

.line1 {
  background-color: rgba(0, 0, 0, 0.1);
  /* background-color: var(--color-mask-black-2); */
  height: 2px;
  margin-top: 1%;
}

.detail {
  padding: 3px 0px;
  text-align: justify;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.containerButton {
  /* border: 1px solid var(--secondary); */
  height: 50%;
  width: 15%;
  display: flex;
  flex-direction: column;
  margin-left: 1%;
}

.Button {
  font-weight: bold;
  margin: auto;
  display: flex;
  width: 100px;
  align-items: center;
  gap: 5px;
  width: 100%;
  padding: 10px 20px;
  border: 1px solid var(--primary);
  background-color: transparent;
  margin-bottom: 10px;
  transition: all 0.3s;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}

.selectCont {
  width: 90%;
  margin: auto;
}

.select {
  width: 100px;
  font-size: 1em;
  font-weight: bold;
  background-color: transparent;
  padding: 5px 3px;
  border-radius: 5px;
}

.subTitles {
  font-size: 1.2em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-right: 0.2em;
}
