.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;

    min-height: 300px;
    overflow: hidden;

    padding: 20px;
    margin: 20px 0;
    border: 1px solid var(--secondary);
    border-radius: 6px;
    background-color: rgb(249, 249, 249);
}

.review_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating_container {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & textarea {
        min-width: 450px;
        height: 200px;
        padding: 10px;
        resize: none;
    }
}

.btn_submit {
    width: 100%;
    padding: 5px 15px;
    border: 1px solid var(--secondary);
    background-color: transparent;
    transition: .3s ease;
}

.btn_submit:hover {
    color: black;
    border: 1px solid rgb(255, 188, 11);
    background-color: rgb(255, 188, 11);
}