.bigCont {
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 95%;
}

.otherCont {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.container {
  justify-content: space-between;
  color: #ffffff;
  width: 100%;
  margin: 0;
  display: flex;
  font-weight: bolder;
  align-items: center;
  border-bottom: 1px solid #ffffff;
  background-color: #020102;
  padding: 1% 2%;
  border-radius: 30px;
  margin-bottom: 0.5rem;
  border: 2px solid #ebac21;
}

.btnCont {
  width: fit-content;
  margin: auto;
  margin-top: 1rem;
}

.homeBtn {
  cursor: pointer;
  margin: auto;
  padding: 2% 1%;
  font-size: larger;
  font-weight: bold;
  border: none;
  background-color: black;
  color: #ebac21;
  border-radius: 15px;
  margin-bottom: 1em;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
}

.homeBtn:hover {
  transform: translate(5px, -5px);
}

.homeBtn:active {
  transform: translate(-5px, 5px);
}

.rstrBtn {
  display: block;
  cursor: pointer;
  font-size: large;
  margin: auto;
  margin-top: 1em;
  font-weight: bold;
  padding: 6%;
  height: fit-content;
  background-color: #ebac21;
  width: fit-content;
  border: 1px black solid;
  color: #020102;
  border-radius: 10px;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
}

.rstrBtn:hover {
  transform: translate(5px, -5px);
}

.rstrBtn:active {
  transform: translate(-5px, 5px);
}

.title {
  width: fit-content;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  padding: 0.8rem 1.2rem 0.8rem 1.2rem;
  /* margin: auto;
  border-radius: 30px;
  width: fit-content;
  border: 0.2rem solid #ebac21; */
  font-weight: bold;
  background-color: #ebac21;
  border-radius: 15px;
}

.imagen {
  width: 150px;
  height: 150px;
  border-radius: 20px;
}

.name {
  text-align: center;
  min-width: 300px;
  max-width: 300px;
}

.filler {
  width: fit-content;
  border-radius: 15px;
  background-color: #ebac21;
  padding: 0.8rem 1.2rem 0.8rem 1.2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin: auto;
}

.scndCont {
  position: sticky;
  top: 11rem;
  min-width: 15%;
  margin: auto;
  margin-top: 1rem;
}

.pay {
  color: white;
  background-color: #020102;
  border: 3px solid #ebac21;
  padding: 15% 15%;
  text-align: center;
  height: fit-content;
  border-radius: 15px;
}

.Btn {
  margin: auto;
  width: 80%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebac21;
  border: none;
  color: white;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
}

.svgIcon2 {
  width: 16px;
}

.svgIcon2 {
  fill: white;
}
.path {
  fill: white;
}

.Btn::before {
  width: calc(100% + 40px);
  aspect-ratio: 1/1;
  position: absolute;
  content: "";
  background-color: white;
  border-radius: 50%;
  left: -20px;
  top: 50%;
  transform: translate(-150%, -50%);
  transition-duration: 0.5s;
  mix-blend-mode: difference;
}

.Btn:hover::before {
  transform: translate(0, -50%);
}

.Btn:active {
  transform: translateY(4px);
  transition-duration: 0.3s;
}

.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon {
  fill: white;
}
.path {
  fill: white;
}

.button:hover {
  width: 80px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: #ea052f;
  align-items: center;
}

.button:hover .svgIcon {
  width: 50px;
  transition-duration: 0.3s;
  transform: translateY(60%);
}

.button::before {
  position: absolute;
  top: -20px;
  content: "Delete";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.button:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: 0.3s;
}
