.form {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 320px;
  background-color: #ebac21;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  margin-top: 3rem;
  margin-bottom: 3rem;
  /* border: 0.5px solid #355891; */
}

.title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  color: #1c2d4a;
}

.label {
  font-size: 18px;
}

.error {
  margin: auto;
  color: #a00e1f;
  font-weight: bolder;
  font-size: 12px;
}

.message {
  color: #c38f1d;
  font-size: 14px;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: none;
  /* border: 1px solid #355891; */
  border-radius: 5px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: #355891;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: #355891;
  font-weight: bold;
}

.input01 {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: none;
  /* border: 1px solid #355891; */
  border-radius: 5px;
}

.form label .input01 + span {
  position: absolute;
  left: 10px;
  top: 50px;
  color: #355891;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input01:placeholder-shown + span {
  top: 40px;
  font-size: 0.9em;
}

.form label .input01:focus + span,
.form label .input01:valid + span {
  top: 50px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input01:valid + span {
  color: #355891;
  font-weight: 600;
}

.button {
  margin: auto;
  width: 90px;
  height: 40px;
  position: relative;
  font-family: var(--font);
  color: #355891;
  font-weight: 600;
  background-color: white;
  border: none;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  transition: all ease 100ms;
}

.button:hover {
  background-color: #cbdcf8;
}

.button:focus {
  background-color: #cbdcf8;
}

.button::before {
  content: "done✅";
  position: absolute;
  color: #3b82f6;
  left: 0;
  top: -14px;
  right: 0;
  transition: all ease 300ms;
  opacity: 0%;
}

.button:focus::before {
  opacity: 100%;
  transform: translatey(26px);
}

.submit {
  transition: all ease 100ms;
  opacity: 100%;
}

.button:focus > .submit {
  opacity: 0%;
}
