@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

/* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
} */


.body
{
    font-family: 'Roboto', sans-serif;
}
.a
{
    text-decoration: none;
}
.container {
    width: 300px;
    height: 500px;
    position: relative;
    box-shadow: 0 0px 20px #fefefe00;
    margin: 10px auto;
    background: #fafafa;
    margin-left: 10px ;
}

.brand {
    position: absolute;
    left: 0;
    top: 12px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    background: rgba(233, 163, 44, 0.786);
    color: #fff;
    padding: 3px 9px;
}

.containerImg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 35px;
}

.container img {
    max-width: 100%;
    max-height: 100%;
}

.details {
    padding: 30px;
}

.details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}
.details h4 a:hover {
    color: #fbb72c;
}

.details p {
    font-size: 15px;
    line-height: 22px;
    /* margin-bottom: 18px; */
    color: #999;
}

.brandtitle {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}
