@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
  --bg-color: #ffffff;
  --primary: #606060;
  --secondary: #a8a8a8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}