.nav {
  position: sticky;
  top: 0px;
  z-index: 5;
  padding: 10px 20px 0px 20px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.button {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.8em 1.6em;
  background-color: #000;
  border: 3px solid #ebac21;
  border-radius: 1em;
  color: #fff;
  font-weight: bolder;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  box-shadow: -5px 5px 0px 0px #ebac21;
}

.button:hover {
  transform: translate(5px, -5px);
}

.button:active {
  transform: translate(-5px, 5px);
}

.link {
  height: fit-content;
}

/* Media Query para pantallas más pequeñas */
@media screen and (max-width: 900px) {
  .nav {
    flex-direction: column; /* Cambia a diseño de columna */
    align-items: center; /* Centra los elementos */
  }

  .nav {
    padding-top: 150px;
    padding-bottom: 120px;
  }
}
