.body {
  background: #f2f2f2;
}

.filter {
  position: relative;
  grid-template-columns: 100px 100px;
  /*Don't really need this just for demo styling*/

  float: left;
  min-width: 200px;
  margin-left: 80px;
  top: 1px;
}

/* IE11 hide native button (thanks Matt!) */
.select::-ms-expand {
  display: none;
}

.filter:after {
  content: "<>";
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 10px;
  /*Adjust for position however you want*/

  top: 10px;
  padding: 0 0 2px;
  border-bottom: 1px solid #999;
  /*left line */

  position: absolute;
  pointer-events: none;
}

.filter select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */

  display: block;
  width: 100%;
  max-width: 320px;
  height: 40px;
  float: right;
  margin: 0px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;
}

.options {
  text-transform: capitalize;
}
