/* Nuevo componente de estilo para los botones enlaces */
.button-link {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #808080; /* Cambiar a gris (#808080) o el color deseado */
    
    padding: 10px 20px; /* Ajuste de relleno para dar espacio a los botones */
    margin: 0 30px; /* Ajuste de margen para separar los botones */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilo para los botones enlaces cuando se pasan por encima */
.button-link:hover {
    background-color: #555; /* Cambiar a un tono más oscuro del gris */
    color: #fff;
}

/* Estilo adicional para centrar los botones enlaces */
.button-container {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
